html {
    height: 100%;
    background: linear-gradient(200deg, #18817c,#ccdd42);
    background-attachment: fixed;
}
body {
    margin: 0;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    font-size: .8vw;
    text-align: justify;
    filter: hue-rotate(200);
}
h2 {
    display: block;
    font-size: calc(1vh + 18px);
    margin: 0;
}
div {
    box-sizing: border-box;
}
.container {
    width: 100%;
    margin-left: auto;    
    margin-right: auto;    
}
.row {
    display: flex;
    flex-direction: row;
}
.gbox {
    white-space: pre-wrap;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
}
.gbox div {
    flex: auto;
    background-size: 100%;
    
    filter: contrast(.85) grayscale(0.73);
    z-index: 1;
}
@keyframes shineBrightLikeADiamond {
    0%{
        filter: contrast(.85) grayscale(0.73);
    }50%{
        filter: contrast(1) grayscale(0);
    }
}
.gbox div:hover {
    animation-name: shineBrightLikeADiamond; 
    animation-duration: 1s; 
    animation-timing-function: ease-in; 
    animation-iteration-count: 1; 
    animation-direction: normal;     
    filter: contrast(1) grayscale(0);
}
.gbox div {
    position: relative;
    transition: 1s ease-in 1s;
 }
.gbox div img:first-child {
    border-radius: 0em;
    filter: opacity(0);
    margin: 0em;
    height: 62vh;
    width: max-content;
}
.gbox div img.like {
    position: absolute;
    top: 2vh;
    right: 2vh;
    height: 8vh;
    z-index: 2;
    opacity: .4;
    transition: 3s linear 1s;
}

.gbox div span.liked {
    font-size: 3vh;
    position: absolute;
    white-space: nowrap;
    display: block;
    z-index: 2;
    top: 2%;
    left: 2%;
    opacity: .45;
    transition: 3s linear 1s;
}
.gbox div:hover img.like,
.gbox div:hover span.liked {
    opacity: .8;
}

 
.desc {    
    position: fixed;
    display: block;
    width: 38vw;
    top: calc(10% / 2);
    right: 3em;
    padding: 3.3vw;
    /* font-size: 1vw; */
    height: 90%;
    /*max-height: 90vh;*/
    overflow-y: auto;
    /*background: linear-gradient(200deg, #18817ca0,#ccdd42a0);*/
    background: #00000030;
    text-shadow: 1px 1px 0px #0b6060;
    z-index: 4;
    color: white;
    font-size: 1.2em;
}
.closebtn {
    margin-top: 4vw;
    padding: 15px 30px;
    font-size: 12pt;
    border-radius: 30px;
    color: #ebff9b;
    background: linear-gradient(200deg, #3c1881a0,#36ada7eb);
    border: 1px solid #18817c;
    font-weight: 600;
    box-shadow: 1px 1px 2px #143d60;
    font-family: Courier New;
    text-shadow: 2px 1px 0px #143d60;
    width: -webkit-fill-available;
    cursor: pointer;
    transition: 3s ease-in 1s;
}
.closebtn:hover {    
    animation-name: blink; 
    animation-duration: 3s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-direction: normal;    
}
@keyframes blink {
    /*20%,  24%,  55% {*/
    25%, 75%{
        color: #0979c4;
        text-shadow: none;
        background: #00000044;
    }

    /*0%,  19%,  21%,  23%,  25%,  54%,  56%,  100% {*/
    0%, 23%, 40%, 50%, 100%{
        text-shadow: 0 0 5px #00aeff, 0 0 15px #00e1ff, 0 0 20px #00b7ff, 0 0 40px #1900ff, 0 0 60px #6f00ff, 0 0 10px #15ff00, 0 0 98px #ea00ff;
        color: #fff6a9;
        background: #00000050;
    }
}
@media (max-width: 1200px), (max-height: 500px){
    .desc {
        right: 0; 
        bottom: 0;
        top: 0;
        height: 100%;
        font-size: 12pt;
        padding: 1em;
    }
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0,0,0,.8);    
    padding: 2vh;    
}
.overlay .hidediv {
    flex: auto;
}
.overlay .detail_box {
    background: #FFFFFF33;
    display: flex;
    width: fit-content;
    border-radius: 10pt;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    margin: auto;
}
.overlay .detail_box .img_detail{
    border-radius: 10pt;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-size: cover;
    height: 86vh;
}
.overlay .detail_box .img_detail img {
    height: 86vh;    
    opacity: 0.1;
}
.overlay .detail_side {
    border-radius: 10pt;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 15px;    
    max-width: 30vw;
    background: linear-gradient(200deg, #18817cAA,#ccdd42AA);
    height: 86vh;
    position: relative;
}
.comments {
    width: 20vw;    
}
.comments .item {
    display: flex;
    flex-direction: row;
    grid-gap: 2px;
    gap: 2px;
    margin-bottom: 15px;
    align-items: flex-start;
    justify-content: space-between;
}
.comments .item .date {
    width: 140px;
    font-size: small;
    white-space: nowrap;
}
.comments .item .text {
    font-size: 13pt;
    color: #FFF;
    width: -webkit-fill-available;
    padding-right: 20px;
}
.form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -webkit-fill-available;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}
.form input{
    width: 100%;
    padding: 10px 30px;
    border: 1px solid #18817c;
}
.form button {
    font-size: 11pt;
    background: #18817c;
    border: none;
    border-radius: 4px;
    color: #FFF;
}